.drop-down-menu {
    display: flex;
    justify-content: center;
    box-shadow: 0.5px 0.5px 0.5px 1px snow;
}

.drop-down-menu-item {
    text-decoration: none;
    color: snow;
    font-weight: 500;
    font-family: "Droid Serif";
    font-style: italic;
}

.drop-down-menu-item:hover {
    color: darkred;
}

.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: snow;
    font-weight: 500;
    font-family: "Droid Serif";
    font-size: 20px;
    font-style: italic;
    height: 100px;
}

.drop-items-container {

}